doctype html
html
  head
    title S3 Bets
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Safety Third Race Betting
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            if user
              li
                a(href='/articles/add') Add Race
            if user && user.username=='admin'
              li
                a(href='/articles/SendMoney') Send Money
          ul.nav.navbar-nav.navbar-right
            if user
              li 
                a(href='/users/logout') Logout
            else
              li
                a(href='/users/register') Register
              li
                a(href='/users/login') Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      if user && user.username!='admin'
        p You have: $#{user.Money}
      footer
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')  
